.paragraph
    font-family $type-content
    &--11
        $size-height-spacing(11, 14, 0.0025em)        
    &--12
        $size-height-spacing(12, 19, 0.0025em)
    &--14
        $size-height-spacing(14, 24, 0.0025em)
    &--16
        $size-height-spacing(16, 24, 0.0025em)
    &--28
        $size-height-spacing(28, 33.6, 0.0025em)
    &--24
        $size-height-spacing(24, 28.8, 0.0025em)
    &--40
        $size-height-spacing(35, 47)
        +mq($from: 'medium')
            $size-height-spacing(40, 47)
