
.c-avatar
    max-width 100px
    &--rounded
        overflow hidden
        border-radius 100%
        width 37px
        height 37px
    &--gradient
        background linear-gradient(#ffff,#ffff) padding-box, linear-gradient(to right, #2D388A, #00AEEF) border-box
        border 2px solid transparent
    &--red
        background $color-red-3
        border 2px solid transparent
        

.c-icon
    color $color-gray-80
    // border 2px solid $color-gray-80
    width 25px
    height 25px
    display flex
    align-items center
    justify-content center
    border-radius: 50%
    cursor default
    &:hover
        color $color-secondary-blue
        // border 2px solid $color-secondary-blue
        cursor pointer
    &:focus
        color red