.c-filter
    padding 15px 20px
    border 1px solid $color-gray-20
    box-shadow: 0 2px 3px rgb(219 228 239);
    border-radius: 2px; 

    &-icon
        display: flex;
        align-items: center
        justify-content: center
        cursor: pointer
        width:30px
        height: 30px
        background-color $color-gray-50
        color: white
        border-radius: 50px
        padding: 5px
    &-text
        padding: 3px 8px
        background-color: $color-gray-15;
        color: $color-gray-50;
        border-radius: 16px; 
        
.state
    width 15px
    height 15px
    border-radius 2px