.c-footer
    &__logo
        width 100px
    &__logo-wrapper
        padding 32px 60px 10px
    &__nav
        padding 10px 60px 40px
    &__nav-item
        flex 1 1
        margin-right 10px
    &__nav-item-4
        flex 1 1 340px
    &__copy-right
        padding 10px 15px
        +mq($from:'medium')
            padding 10px 50px
