.c-input-calendar
    .c-input__cont-input
        position relative
    .c-calendar
        background-color #fff
        position absolute
        z-index 10
        &.top
            bottom calc(100% + 4px)
        &.bottom
            top calc(100% + 4px)
