.c-link
    text-decoration none
    transition: .2s all
    &:hover
        color inherit
    &[href]
        cursor pointer
        border-bottom 1px solid transparent
        &:hover
            //border-bottom 1px solid
            //color $color-blue
    &--underline
        border-bottom: .5px solid;
    &--hover-underline:hover
        border-bottom: .5px solid;
