.c-notification
    display flex
    gap 10px
    justify-content: flex-start
    color $color-gray-80
    align-items: center
    border-radius: 3px
    padding 5px 10px

    &-yellow
        justify-content: flex-start
        border 1px solid #EA8B2D
        background-color: #FFE9D3
        color #EA8B2D

    &-green
        justify-content: flex-start
        border 1px solid #65B164
        background-color: #D9EED8
        color #65B164

    &-red
        justify-content: flex-start
        border 1px solid $color-red
        background-color: rgba($color-red, .1)
        color $color-red
    &-gray
        justify-content: flex-start
        border 1px solid $color-gray-60
        background-color: $color-gray-20
        color $color-gray-60