.content-loading
    position: fixed
    background: aliceblue
    width: 100vw
    height: 100vh
    top: 0
    z-index: 1000
    display: flex
    align-items: center
    justify-content: center
    transition: all 0.1s

    &:after
        content: ''
        background: blue
        width: 600px
        height: 600px
