.offcanvas
    margin-left 80px
    z-index 15
    width 350px
    &-body
        padding: 20px 0px
    &-backdrop
        background-color #1C5D95
        z-index 14
        &.show
            opacity .1

@media (max-width 996px) {
    .c-avatar--span{
        display: none
    }
    .offcanvas{
        margin-left: 0px
        height: calc( 100% - 60px)
    }
}


.section-accordion
    border 1px solid $color-gray-30
    margin-bottom 15px
    &--title
        display:block
        border 1px solid $color-gray-30
        padding 10px
        margin-bottom 10px

body[style="overflow: hidden;"]
    padding-right: 0px !important