/* ----------------------------------------------
	1. Settings 	- Variables, config.
	2. Tools 		- Mixins, functions
	3. Generic 		- Normalize, reset, * {}
	4. Elements     - Unclassed HTML rules
	5. Objects 		- Cosemetic-free design patterns
	6. Components 	- troso
	7. Utils 		- Helpers and overrides
---------------------------------------------- */


/* ----------------------------------------------
// S E T T I N G S
---------------------------------------------- */
@require '../../node_modules/stylus-mq/mq.styl'
@import 'settings/*'

/* ----------------------------------------------
// T O O L S
---------------------------------------------- */
@import "tools/_functions";
@import "tools/_animation";


/* ----------------------------------------------
// G E N E R I C
---------------------------------------------- */
@import "generic/_normalize"
@import "generic/_fonts"

/* ----------------------------------------------
// E L E M E N T S
---------------------------------------------- */
@import "elements/_body"
@import "elements/_button"
@import "elements/_img"
@import "elements/_link"
@import "elements/_headline"
@import "elements/_label"
@import "elements/_input"


/* ----------------------------------------------
// O B J E C T S
---------------------------------------------- */
@import 'objects/_layout'
@import 'objects/_title'
@import 'objects/_paraghaph'
@import 'objects/_flex'
@import 'objects/_divider'


/* ----------------------------------------------
// C O M P O N E N T S
---------------------------------------------- */
@import 'components/*';


/* ----------------------------------------------
// U T I L S
---------------------------------------------- */
@import 'utils/*';
