/*Primary Colors*/
$color-primary-blue = #1560BD
$color-primary-skyblue = #00A6DC
$color-primary-yellow = #FAA148

/*Disabled Option*/
$color-disable-option = #EEEEEE;

/*Grayscale*/
$color-black = #000000
$color-white = #FFFFFF
$color-gray-5 = #F3F9FF
$color-gray-10 = #EEF6FF
$color-gray-15 = #E9F2FC
$color-gray-20 = #DDEBFB
$color-gray-30 = #D0DEEE
$color-gray-40 = #ABC4E2
$color-gray-50 = #98B5D9
$color-gray-60 = #81A0C5
$color-gray-70 = #738EAF
$color-gray-80 = #68809E
$color-gray-90 = #556C89
$color-gray-100 = #435264

/*Estado del pedido*/
$color-state-1 = #B151BF
$color-state-2 = #DA8BF1
$color-state-3 = #D9CFF6
$color-state-4 = #B8A5ED
$color-state-5 = #5155BF
$color-state-6 = #51ABBF
$color-state-7 = #51BF97
$color-state-8 = #8ACD89
$color-state-9 = #EBF38E
$color-state-10 = #FAA148
$color-state-11 = #FC6775
$color-state-12 = #FF3C3C

/*Other colors*/
$color-secondary-blue = #2979DA
$color-green = #318E2F
$color-green-1 = #28A745
$color-red-brick= #F37D7D
$color-red= #FC6775
