.u-text
    &--left
        text-align left
    // C O L O R
    &--primary-blue
        color $color-primary-blue
    &--primary-sky-blue
        color $color-primary-skyblue
    &--gray
        color gray
    &--blue
        color $color-blue
    &--skyblue
        color $color-primary-skyblue
    &--white
        color #fff
    &--red
        color $color-red
    &--red-1
        color $color-red-1
    &--primary-blue
        color $color-primary-blue
    &--green
        color $color-green

    &--gray-90
        color $color-gray-90
        
    &--gray-80
        color $color-gray-80
    &--gray-60
        color $color-gray-60

    &--color-state-1
        color $color-state-1
    &--color-state-2
        color $color-state-2
    &--color-state-3
        color $color-state-3
    
    &--timer
        cursor: context-menu
    // Ok
    &--color-time-state-1
        color #61F052
    // Alerta 
    &--color-time-state-2
        color #FFE600
    // Demorado
    &--color-time-state-3
        color #FF0000
    // Vencidos
    &--color-time-state-4
        color $color-black

    &--light
        font-weight $type-light
    &--regular
        font-weight $type-regular
    &--medium
        font-weight $type-medium
    &--bold
        font-weight $type-bold

    &--italic
        font-style italic
    &--caps
        text-transform uppercase
    &--underline
        text-decoration underline
    &--overline
        text-decoration overline
    &--line-through
        text-decoration line-through



    // A L I G N
    &--center
        text-align center
    &--right
        text-align right

    // T R U N C A T E
    &--truncate
        overflow hidden
        text-overflow ellipsis
        white-space nowrap
    &--truncate-2
        overflow hidden
        display -webkit-box
        -webkit-line-clamp 2
        -webkit-box-orient vertical
    &--truncate-3
        overflow hidden
        display -webkit-box
        -webkit-line-clamp 3
        -webkit-box-orient vertical

    // miselaneo
    &--break
        word-wrap break-word

.u-text-hover
    &--blue
        &:hover
            color $color-blue

