// G L O B A L
.s-loading-img
    height 100%
    position relative
    display flex
    justify-content center
    align-items center
    z-index 2

.s-students-form-label
    width 87px
    margin-right 8px
// .s-students-form-input

.s-students-listar--mb-52
    margin-bottom 52px


// U S E R 
.s-users-save-input-image
    height 100%
    border-radius 50%

// H O M E
.s-home-image-header
    background-repeat no-repeat
    background-size 100% 100%

.s-home-lista-estudiante
    font-size 18
    font-weight 500

// E V A L U A T O R
.s-evaluator-list
    padding 10px
    border-radius 10px
    border 1px solid #ced4da
    background $c-white

// S T U D E N T
.s-student-save-content-perdiod
    background $color-gray-7

.s-student-save-pie-chart
    canvas
        max-height 380px

// S T U D E N T / A S S I G N
.s-student-assing-img
    border 3px solid $color-red-3
    width 244px
    height 244px

.s-student-assing-rbtn
    input
        margin 0
