.s-login
    &-form
        //max-width 595px
        //padding 0 10px 57px
        &-form
            padding 36px 24px 36px
            border-radius 5px
            border .5px solid #e3e3e3            
            background $color-white
    &-wrapper
        //min-height calc(100vh - (62px + 50px))
        padding 60px 50px
    &_quote
        display flex
        flex-direction: column
        span:last-child
            align-self flex-end
    &-quote-wrapper
        padding-left: 41px
    &-mt-40
        margin-top 40px
        
